<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.eesho"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name="com.codepath.eesho.ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.codepath.eesho.activities.DailyPlanActivity"
            android:label="Daily Plan" >
        </activity>
        <activity
            android:name="com.codepath.eesho.activities.ArticlesActivity"
            android:label="Articles" >
        </activity>
        <activity
            android:name="com.codepath.eesho.activities.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="com.codepath.eesho.activities.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.codepath.eesho.activities.DashboardActivity"
            android:label="@string/title_activity_dashboard" >
        </activity>
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
                android:value="true" />
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="629605243814245" />

        <activity
            android:name="com.codepath.eesho.activities.UserGoalActivity"
            android:label="@string/title_activity_user_goal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.codepath.eesho.activities.WeightActivity"
            android:label="@string/title_activity_user_goal" >
        </activity>
        <activity
            android:name="com.codepath.eesho.activities.UserTimeGoalActivity"
            android:label="@string/title_activity_user_goal" >
        </activity>
        <activity
            android:name="com.codepath.eesho.activities.TimeCommitmentActivity"
            android:label="@string/title_activity_user_goal" >
        </activity>
        <activity
            android:name="com.codepath.eesho.activities.UserMetricsActivity"
            android:label="@string/title_activity_user_metrics" >
        </activity>
        <activity
            android:name="com.codepath.eesho.activities.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.codepath.eesho.activities.ExpertHomeActivity"
            android:label="@string/title_activity_expert_home" >
            
        </activity>
        <activity
            android:name="com.codepath.eesho.activities.EditPlanActivity"
            android:label="@string/title_activity_edit_plan" >
        </activity>
    </application>

</manifest>
