<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.eesho"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.DailyPlanActivity"
            android:label="Daily Plan" >
        </activity>
        <activity
            android:name=".activities.ArticlesActivity"
            android:label="Articles" >
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".activities.DashboardActivity"
            android:label="@string/title_activity_dashboard" >
        </activity>
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.APP_LOGO"
                android:resource="@drawable/ic_app_logo" />
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="629605243814245" />

        <activity
            android:name=".activities.UserGoalActivity"
            android:label="@string/title_activity_user_goal" >
        </activity>
        <activity
            android:name=".activities.WeightActivity"
            android:label="@string/title_activity_user_goal" >
        </activity>
        <activity
            android:name=".activities.UserTimeGoalActivity"
            android:label="@string/title_activity_user_goal" >
        </activity>
        <activity
            android:name=".activities.TimeCommitmentActivity"
            android:label="@string/title_activity_user_goal" >
        </activity>
        <activity
            android:name=".activities.UserMetricsActivity"
            android:label="@string/title_activity_user_metrics" >
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activities.ExpertHomeActivity"
            android:label="@string/title_activity_expert_home" >
        </activity>
        <activity
            android:name=".activities.EditPlanActivity"
            android:label="@string/title_activity_edit_plan" >
        </activity>
        <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AboutYourselfActivity"
            android:label="@string/title_activity_chat" >
            
        </activity>

        <service
            android:name=".activities.ActivityRecognitionService"
            android:exported="false"
            android:label="ActivityRecognitionService" >
        </service>

        <activity
            android:name=".activities.GoalActivity"
            android:label="@string/title_activity_goal" >
        </activity>
        <activity
            android:name="com.codepath.eesho.activities.RunTargetActivity"
            android:label="@string/title_activity_run_target" >
        </activity>
        <activity
            android:name="com.codepath.eesho.activities.WeightTargetActivity"
            android:label="@string/title_activity_weight_target" >
        </activity>
    </application>

</manifest>
